<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>

    <body>
        <div class="heading">
            <h1> thanks for submiting </h1>
            <br>
        </div>    

        <div class="heading">
            <a href="/home"> go back home</a>
            <br>
            <a href="/display"> go see the quotes</a>
        </div>
    </body>
</html>