<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connect</title>
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">
</head>
<body>
  <div class="tm-container">
    <div class="tm-row">
      <!-- Site Header -->
      <div class="tm-left">
        <div class="tm-left-inner">
          <div class="tm-site-header">
            <i class="fas fa-send fa-3x tm-site-logo"></i>
            <h1 class="tm-site-name">Connect</h1>
          </div>
          <nav class="tm-site-nav">
            <ul class="tm-site-nav-ul">
              <li class="tm-page-nav-item">
                <a href="#drink" class="tm-page-link active">
                  <i class="fas fa-search tm-page-link-icon"></i>
                  <span>View Questions</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#about" class="tm-page-link">
                  <i class="fas fa-book tm-page-link-icon"></i>
                  <span>info</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#special" class="tm-page-link">
                  <i class="fas fa-question-circle tm-page-link-icon"></i>
                  <span class="centering">Make a question</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#contact" class="tm-page-link">
                  <i class="fas fa-address-card tm-page-link-icon"></i>
                  <span>account</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>        
      </div>
      <div class="tm-right">
        <main class="tm-main">
          <div id="drink" class="tm-page-content">
            <div id="cold" class="tm-tab-content">
              <div class="tm-list">
                {% if questions_available %}
                  {% for id, question in questions.items() %}  
                    <a href="/question/{{id}}">
                      <div class="tm-list-item">          
                        <div class="tm-black-bg tm-list-item-text">
                          <p class="tm-list-item-description">{{question["user"]}}:</p>
                          <h2 class="tm-list-item-name">   {{question["title"]}}</h2>
                        </div>
                      </div>
                    </a>  
                  {% endfor %}   
                {% endif %}             
              </div>
            </div>   
            <!-- end Drink Menu Page -->
          </div>

          <!-- About Us Page -->
          <div id="about" class="tm-page-content">
            <div class="tm-black-bg tm-mb-20 tm-about-box-2">              
              <h2 class="tm-text-primary">about the website</h2>
              <div class="tm-list-item tm-list-item-2">                
                <div class="tm-list-item-text-2">
                  <h1></h1>
                  <p>connect is a website that is used to ask and answer questions.</p>
                  <p>You can upload a question using the make a question form and it will upload it and pp will be able to answer you</p>
                </div>                
              </div>
            </div>
            <div class="tm-black-bg tm-mb-20 tm-about-box-2">              
              <div class="tm-list-item tm-list-item-2">                
                <div class="tm-list-item-text-2">
                  <h2 class="tm-text-primary">what is the reason to use this website</h2>
                  <p>there isnt one but i had to make one for meet and this was my idea.</p>                  
                </div>                                
              </div>
            </div>
          </div>
          <!-- end About Us Page -->

          <!-- make a question Page -->
          <div id="special" class="tm-page-content">
            <div class="tm-special-items">
              <div class="tm-black-bg tm-special-item">
                <div class="tm-special-item-description">
                  <h2 class="tm-text-primary tm-special-item-title">make a question</h2>
                  <div class="questionMaker">  
                    <h3>fill out the info to make the question</h3>
                    <h5> make sure you signed in for this!!!</h5>
                    <form action="/?f=addQuestion" method="POST">
                      <input class="questionTitle" name="title" placeh  older="Title" tabindex="4" required>
                      <br>
                      <br>
                      <textarea name="text" placeholder="Type your question Here...." tabindex="5" class="questionText" required></textarea>
                      <br>
                      <button name="submit" type="submit" id="contact-submit" data-submit="...Uploading" class="button-7" role="button">post question</button>
                    </form>
                  </div>
                </div>
              </div>                     
            </div>            
          </div>
          <!-- end Special Items Page -->

          <!-- signin/signup Page -->
          <div id="contact" class="tm-page-content">
            <div class="tm-black-bg tm-contact-text-container">

              {%if not signedin%}
                <h2 class="tm-text-primary">Sign in/up </h2>
                <p>to answer or post qustions pls go sign in/up</p>
                <form action="/?f=signin" method="POST" id="contact-form">      
                  <div>
                    <button type="submit" class="tm-btn-primary tm-align-right">sign in</button>
                  </div>
                </form>
                <br>
                <form action="/?f=signup" method="POST" id="contact-form">      
                  <div class="resize">
                    <button type="submit" class="tm-btn-primary tm-align-right">sign up</button>
                  </div>
                </form>
                <br>
              {% else %}
                <h2 class="tm-text-primary">Account Managment </h2>
                <p>welcome! {{username}}</p>
                <p>Here are your questions: </p>
                {% for user_question in users_questions %}
                  <a href="question/{{user_question["id"]}}">{{user_question["title"]}}</a>
                  <br>
                {% endfor %}
                <form action="/?f=signout" method="POST" id="contact-form">      
                  <div>
                    <button type="submit" class="tm-btn-primary tm-align-right">
                      signout
                    </button>
                  </div>
                </form>
              {% endif%}
            </div>
          </div>

           <!-- end sign in/up Page -->
        </main>
      </div>    
    </div>
  </div>
    
  <!-- Background video -->
  <div class="tm-video-wrapper">
      <i id="tm-video-control-button" class="fas fa-pause"></i>
      <video autoplay muted loop id="tm-video">
          <source src="../static/video/background.mp4" type="video/mp4">
      </video>
  </div>

  <script src="../static/homescript.js"></script>    
  <script>

    function setVideoSize() {
      const vidWidth = 1920;
      const vidHeight = 1080;
      const windowWidth = window.innerWidth;
      const windowHeight = window.innerHeight;
      const tempVidWidth = windowHeight * vidWidth / vidHeight;
      const tempVidHeight = windowWidth * vidHeight / vidWidth;
      const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
      const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
      const tmVideo = $('#tm-video');

      tmVideo.css('width', newVidWidth);
      tmVideo.css('height', newVidHeight);
    }

    function openTab(evt, id) {
      $('.tm-tab-content').hide();
      $('#' + id).show();
      $('.tm-tab-link').removeClass('active');
      $(evt.currentTarget).addClass('active');
    }    

    function initPage() {
      let pageId = location.hash;

      if(pageId) {
        highlightMenu($(`.tm-page-link[href^="${pageId}"]`)); 
        showPage($(pageId));
      }
      else {
        pageId = $('.tm-page-link.active').attr('href');
        showPage($(pageId));
      }
    }

    function highlightMenu(menuItem) {
      $('.tm-page-link').removeClass('active');
      menuItem.addClass('active');
    }

    function showPage(page) {
      $('.tm-page-content').hide();
      page.show();
    }

    $(document).ready(function(){

      /***************** Pages *****************/

      initPage();

      $('.tm-page-link').click(function(event) {
        
        if(window.innerWidth > 991) {
          event.preventDefault();
        }

        highlightMenu($(event.currentTarget));
        showPage($(event.currentTarget.hash));
      });

      
      /***************** Tabs *******************/

      $('.tm-tab-link').on('click', e => {
        e.preventDefault(); 
        openTab(e, $(e.target).data('id'));
      });

      $('.tm-tab-link.active').click(); // Open default tab


      /************** Video background *********/

      setVideoSize();

      // Set video background size based on window size
      let timeout;
      window.onresize = function(){
        clearTimeout(timeout);
        timeout = setTimeout(setVideoSize, 100);
      };

      // Play/Pause button for video background      
      const btn = $("#tm-video-control-button");

      btn.on("click", function(e) {
        const video = document.getElementById("tm-video");
        $(this).removeClass();

        if (video.paused) {
          video.play();
          $(this).addClass("fas fa-pause");
        } else {
          video.pause();
          $(this).addClass("fas fa-play");
        }
      });
    });
      
  </script>
</body>
</html>